.stars > .star {
	color: #6c757d !important;
	background: none;
	border: none;
}

.star {
}

.stars:hover > .star {
	color: gold !important;
}

.stars .star:hover ~ .star {
	color: #6c757d !important;
}