/.metadata/
/.log/
.settings/
node_modules/
.sass-cache/
generated.css*
reduced.css
/FurboPorra/nbproject/private/
/FurboPorra/build/
/FurboPorra/dist/
/NetbeansTomcat/
/NETBEANS_WEB_APP_TEMPLETA/nbproject/private/
/NETBEANS_WEB_APP_TEMPLETA/build/
/NETBEANS_WEB_APP_TEMPLATE_PROJECT/nbproject/private/
/NETBEANS_WEB_APP_TEMPLATE_PROJECT/dist/
/NETBEANS_WEB_APP_TEMPLATE_PROJECT/build/
/Playa/nbproject/private/
/Playa/build/
/Playa/dist/
/TMDB/nbproject/private/
/TMDB/build/
/TMDB/dist/